VITE_NODE_URLS="http://localhost:8001,http://localhost:8002,http://localhost:8003"
VITE_CLUSTER_SIZE=3
VITE_NODE_BASE_PORT=8001
VITE_NODE_HOST=localhost
VITE_DEFAULT_NODE_INDEX=0
VITE_BLOCKING_MODAL_TIMEOUT_MS=1750
