VITE_SEED_NODE_URL=http://localhost:8001
VITE_NODE_HOST=localhost
VITE_NODE_BASE_PORT=8001
VITE_NODE_PORT_STEP=1
VITE_NODE_SCAN_COUNT=7
VITE_DEFAULT_NODE_INDEX=0
VITE_BLOCKING_MODAL_TIMEOUT_MS=1750
VITE_ADMIN_API_BASE_URL=http://localhost:18090
